h1{
    background: red;
}

.paragraph-gb {
    background: blue;
    font-size: 22pt;
    color: green;
}

.paragraph-2 {
    background: grey;
    border-radius: 10px;
    border-color: brown;
    border-width: 5px;
    font-size: 22pt;
    width: 50%;
}

.div-1{
    font-family: 'Courier New', Corier, monospace;
    font-size: 16pt;
    margin-left: 60pt;
}

.image-1{
    border-radius: 15pt;
}

body{
    background-image: url('bg.jpg');
}

.div-2{
    text-align: center;
    font-size: 24pt;
    font-style: italic;
    text-shadow: green 2px 3px;
}


